#container {
    width: 960px;
}

.row {
    display: flex;
}

.box {
    border-style: solid;
    border-width: 1px;
    margin: 4px;
    width: 24px;
    height: 24px;
}

.red {
    background-color: #ccc;
}