body {
    background-color: peachpuff;
}

#container {
    width: 660px;
    height: 660px;
    display: flex;
    margin: 0 auto;
    background-color: #eee;
}

.row {
display: flex;
flex-direction: column;
width: 100%;
}

.box {
    flex: 1;
    border-style: solid;
    border-color: rgb(185, 117, 58);
    border-width: 1px;
    margin: 0px;
}

.used {
    background-color: brown;
}

h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin-bottom: 16px;
    color: brown;
}

#nav {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    gap: 16px;
}

button {
    color: brown;
}